.serch_bar{ background:rgba(250, 246, 255, 1) !important;}


.button_bg{
background-color:rgba(250, 246, 255, 1) !important;
color: rgba(106, 0, 243, 1) !important;
}
.button_bg_two{
    background-color: rgba(106, 0, 243, 1) !important;
    color: #ffff !important;

}